 /* fonts add  */
 @import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Poppins:wght@400;500;700&family=Roboto&family=Roboto+Mono:ital@1&display=swap');

 body{
  font-family: 'Poppins', sans-serif;
    font-size: 25px;
    background-color:  whitesmoke;
 }
   /* start journey style start  */
.journey-items{
  /* display: grid;
  grid-template-columns: 1fr 1fr */
  display: flex;
  margin: 20px;
}
.blog-items{
  width: 582px; 
  height: 270px;
  margin-left: 120px;
  /* margin-top: 285px; */
}
.img-item {
  width: 440px;
  height: 414px;
  /* margin-top: 211px; */
  margin-left: 192px;
}
.link-button{
  background-color: 
  #E02C6D;
  padding: 10px 24px  10px  24px;
  color: aliceblue;
  border: none;
  border-radius: 20px;
  font-weight: 800;
  font-size: 20px;
}


  /* company items start  */
 
  .companys {
    width: 1110px;
    height: 110px;
    display: flex;
     justify-content: center;
    margin-top: 271px;
     align-items: center;
    justify-content: space-evenly;
    margin-left: 165px; 
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
}
    /* companny-items end  */
     
    /* product-item start  */
    .product-container{
      
    }

.product-headline{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.products {
   display: grid;
   grid-template-columns: repeat(3,1fr); 
  margin-top: 60px;
}
.product {
   background-color: white;
  margin: 20px;
}
.product-banner img{
   width: 350px;
  margin-top: 20px;
  /* padding-left: 20px; */
  margin-left: 40px;
  margin-right: px;
}
.product-info {
   margin-left: 20px;
  margin-top: -15px;
} 
.fa-solid.field{
  color: gold;
}